body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
  
    
    height: 100vh;
    background-color: #f4f4f4;
}
.main{
    text-align: center;
    margin-top: -200px;
    padding: 2em;
    position:absolute;
    left: 400px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.section{
    padding: 0.5em;
    background-color: #fff;
    margin: 30px;
    height: 250px;
    width: 300px;
    position: relative;
    left: 300px;
    top: 170px;
    box-shadow: 0 0 10px gray;
    animation:fade 1s forwards;
}
button{
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    animation-name:bounce;
    animation-duration: 10s;
}
@keyframes bounce{
    0%,20%,50%,80%,100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-20px);
    }60%{
        transform: translateY(-10px);
    }
}
.animate{
    animation:bounce 1s ease infinite;
}
@keyframes fade{
    from{
        opacity: 0;
        transform:translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}